<a href="https://colab.research.google.com/github/Ritumahour/DS1_assignment/blob/main/Copy_of_DS1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. write a code to reverse string.

In [ ]:
a = 'Hello World'
print(a)

Hello World

In [ ]:
a [-1 :: -1]

'dlroW olleH'

# 2. Write a code to count the number of vowels in 'strings'.

In [ ]:
string = input("enter the string")
vowels = 0
for i in string:
  if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
    vowels=vowels+1
print("numbers of vowels are:")
print(vowels)

enter the stringHello World
numbers of vowels are:
3

# 3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def check_palin (str):
   for i in range (0, int (len (str)/2)):
                  if str [i] != str [len (str) -i-1]:
                                return False
                  return True
str_1 = input ('enter a string.')
ans = check_palin (str_1)
if (ans):
            print ('yes,it is a palindrome.')
else:
            print ('no,it is not a palindrome')

enter a string.I am student of pwskill
no,it is not a palindrome

# 4. write a code to check if two given strings are anagrams of each other.

In [ ]:
def check(s1,s2):
  if(sorted(s1) == sorted(s2)):
     print("The string are anagrams.")
  else:
     print("The strings are not anagrams.")
s1 = "listen"
s2 = "silent"
check(s1,s2)

The string are anagrams.

# 7. Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_chars(s):
  """
  Returns True if the string has all unique character, False otherwise,
  """
  return len(set(s)) == len(s)
print(has_unique_chars("abcde"))
print(has_unique_chars("abcdea"))

True
False

# 8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
string1 = 'Hello world'
print(string1)

Hello world

In [ ]:
#uppercase
string1 = 'Hello world'
string1.upper()

'HELLO WORLD'

In [ ]:
#lowercase
string1 = 'Hello World'
string1.lower()

'hello world'

# 9. Write a code to count the number of words in a strings.

In [ ]:
string1 = 'Hello World'
t= len(string1)
print(t)

11

# 10. write a code to concatenate two strings without using the + operator.

In [ ]:
str1 = "Hello"
str2 = "World"
print("".join([str1,str2]))

HelloWorld

# 11. write a code to remove all occurrence of a specific element from a list.

In [ ]:
a = [1,1,1,2,3,4,5,1,2]
a.remove(1)
print(a)

[1, 1, 2, 3, 4, 5, 1, 2]

# 12.Implement a code to find the second largest number in a given list of integer.

In [ ]:
def second_largest(numbers):
    if len(numbers) < 2:
       return None # not enough elements
    first, second = float('-inf'), float('-inf')

    for number in numbers:
        if number > first:
          first, second = number, first
        elif first > number > second:
          second = number
    return second if second != float('-inf') else None
numbers = [3, 1, 4, 4, 5, 2,]
result = second_largest(numbers)
print(result)

4

# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as key and their counts as value.

In [ ]:
def count_occurrences(input_list):
    occurrence_dict = {}
    for element in input_list:
        if element in occurrence_dict:
           occurrence_dict[element] += 1
        else:
           occurrence_dict[element] = 1
    return occurrence_dict
sample_list = [1, 2, 2, 3, 4, 4, 4, 5, 5]
result = count_occurrences(sample_list)
print(result)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 2}

# 14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list(lst):
    # Initialize two pointers
    start = 0
    end = len(lst) - 1
    # Swap element while start is less than end
    while start < end:
        # Swap the elements
        lst[start], lst[end] = lst[end], lst[start]
        # Move the pointers
        start += 1
        end -= 1
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(lst):
    seen = set()  # Set to store seen elements
    result = []   # List to store the unique elements
    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result
my_list = [1, 2, 2, 3, 4, 3, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

# 17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = 0
    j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1
    return merged_list
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
result = merge_sorted_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

# 18. Implement a code to find the intersection of two given lists.

In [ ]:
def list_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersection = set1.intersection(set2)
    return list(intersection)
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = list_intersection(list1, list2)
print(result)

[4, 5]

# 19. Create a code to find the union of two lists without duplicates

In [ ]:
def list_union(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    union = set1.union(set2)
    return list(union)
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = list_union(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

# 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random
def custom_shuffle(list):
    n = len(list)
    for i in range(n):
        rand_index = random.randint(0, n - 1)
        list[i], list[rand_index] = list[rand_index], list[i]
    return list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled_list = custom_shuffle(my_list)
print(shuffled_list)

[3, 5, 8, 4, 1, 2, 7, 6, 9]

# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    set1 = set(tuple1)
    set2 = set(tuple2)
    common = set1.intersection(set2)
    return tuple(common)
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

# 22. Create a code that prompts the user to enter two sets of integers seperted by commas. Then, print the intersection of these two sets.

In [ ]:
def get_set_from_input(prompt):
    return set(map(int, input(prompt).split(',')))
def main():
    set1 = get_set_from_input("Enter the first set of integers, separated by commas:")
    set2 = get_set_from_input("Enter the second set of integers,separted by commas:")
    intersection = set1.intersection(set2)
    print(f"The intersection of the two sets is: {intersection}")
main()

Enter the first set of integers, separated by commas:1, 2, 3, 4, 5
Enter the second set of integers,separted by commas:4, 5, 6, 7, 8
The intersection of the two sets is: {4, 5}

# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
from typing_extensions import Concatenate
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [ ]:
def get_set_from_input(prompt):
    return set(input(prompt).split(','))
def main():
    set1 = get_set_from_input("enter the firt set of strings, separated by commas:")
    set2 = get_set_from_input("enter the second set of strings, separated by commas:")
    difference = set1.difference(set2)
    print(f"elements present in the first set but not in the second set: {difference}")
main()

enter the firt set of strings, separated by commas:apple, banana, grape
enter the second set of strings, separated by commas:banana, orange, grape
elements present in the first set but not in the second set: {' banana', 'apple'}

# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index]
input_tuple = (10, 20, 30, 40, 50, 60, 70, 80)
start_index = int(input("Enter the start index:"))
end_index = int(input("Enter the start index:"))
result = slice_tuple(input_tuple, start_index, end_index)
print(result)

Enter the start index:2
Enter the start index:5
(30, 40, 50)

# 26. Write a code to prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
def get_set_from_input(prompt):
    return set(input(prompt).split(','))
def main():
    set1 = get_set_from_input("Enter the first set of characters, separated by commas:")
    set2 = get_set_from_input("Enter the first set of characters, separated by commas:")
    union_set = set1.union(set2)
    print(f"The union of the two sets is: {union_set}")
main()

Enter the first set of characters, separated by commas:a,b,c
Enter the first set of characters, separated by commas:b,c,d,e
The union of the two sets is: {'c', 'a', 'd', 'e', 'b'}

# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(input_tuple):
    max_value = max(input_tuple)
    min_value = min(input_tuple)
    return max_value, min_value
input_tuple = tuple(map(int, input("Enter a tuple of integers, separated by commas:").split(',')))
max_value, min_value = find_max_min(input_tuple)
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Enter a tuple of integers, separated by commas:10, 20, 5, 30, 15
Maximum value: 30
Minimum value: 5

# 28. Create a code that defines two sets of integers.Then,print the union, intersection, and difference of these two sets.

In [ ]:
def main():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    union_set = set1.union(set2)
    intersection_set = set1.intersection(set2)
    difference_set1 = set1.difference(set2)
    difference_set2 = set2.difference(set2)
    print(f"Set 1: {set1}")
    print(f"Set 2: {set2}")
    print(f"Union: {union_set}")
    print(f"Intersection: {intersection_set}")
    print(f"Difference (Set 1 - Set 2): {difference_set1}")
    print(f"Difference (Set 2 - Set 1): {difference_set2}")
main()

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set 1 - Set 2): {1, 2, 3}
Difference (Set 2 - Set 1): set()

# 29. Write a code that takes a tuple and an element as input.The function should return the count of occurrences of the given element in the tuple.

In [ ]:
def count_occurrences(input_tuple,element):
    return input_tuple.count(element)
input_tuple = tuple(input("Enter a tuple of element, separated by commas:").split(','))
element = input("Enter the element to count:")
occurrences = count_occurrences(input_tuple, element)
print(f"The element '{element}' occurs {occurrences} time(s) in the tuple.")

Enter a tuple of element, separated by commas:apple,banana,orange,apple,grape
Enter the element to count:apple
The element 'apple' occurs 2 time(s) in the tuple.